.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}
//w
.widget-header {
  background: $blue;
  color: $soft-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}
.widget__message {
  border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
  color: $soft-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}

.widget-header__title {
  margin: 0;
}
